<!DOCTYPE html>
<html>
<head>
  <title>Profil de <%= @user.first_name %> <%= @user.last_name %></title>
  <!-- Inclure les liens vers Bootstrap ou d'autres ressources CSS -->
</head>
<body>

<div class="container">
  <h1>Profil de <%= @user.first_name %> <%= @user.last_name %></h1>
  <p>Description : <%= @user.description %></p>
  <p>Email : <%= @user.email %></p>

  <% if current_user == @user %>
    <p><%= link_to "Modifier l'email et le mot de passe", edit_user_registration_path %></p>
    <!-- Lien pour éditer les autres informations du profil (bonus pour GODMODE) -->
    <p><%= link_to "Éditer les informations de profil", edit_user_path(@user) %></p>
  <% end %>

  <h2>Événements créés par <%= @user.first_name %> <%= @user.last_name %></h2>
  <ul>
    <% @user.events.each do |event| %>
      <li><%= link_to event.title, event_path(event) %></li>
    <% end %>
  </ul>
</div>

</body>
</html>

<!--
<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
-->